moviepy==1.0.3
tensorflow==2.11.0
cv==1.0.0
opencv-python-headless
matplotlib==3.7.1
joblib==1.2.0
keras==2.11.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
streamlit-webrtc==0.45.0

